RewriteEngine On

# /blog with no subpaths is handled by blog/index.php with no `slug` parameter
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^blog/?$ blog/index.php [L]

# /blog/tags/{tag} shows the index filtered to one tag, handled by blog/index.php with a `tag` parameter
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^blog/tags/([^/]+)/?$ blog/index.php?tag=$1 [L,QSA]

# /blog/{slug} is handled by blog/index.php with a `slug` parameter
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^blog/([^/]+)/?$ blog/index.php?slug=$1 [L,QSA]

# Disallow access to bare Markdown files in blog/posts and blog/example-posts.
# These are only meant to be read by the PHP scripts.
RewriteRule ^blog/(posts|example-posts)/.*\.md$ - [F,L]
